{% import 'control/utils/macros.jinja' as macros %}

<nav class="TopNav story-17">
    <a class="TopNav-title" href="{{ url ('front:index') }}">
        <div class="TopNav-logoBox">
            kompass
            {#            {% call macros.svgSprite('logo') %}{% endcall %}#}
        </div>
    </a>

    <div class="TopNav-list">
        <a class="TopNav-a {{ active(request, '^/control/$') }}" href="{{ url ('control:cards') }}">
            Cards
        </a>
        <a class="TopNav-a {{ active(request, '^/control/about/') }} " href="{{ url ('control:about') }}">
            About
        </a>
    </div>

    <a class="TopNav-logout" href="{{ url ('control-logout') }}">
        {% call macros.svgSprite('logout') %}{% endcall %}
    </a>
</nav>
