{% import 'control/utils/macros.jinja' as macros %}

<nav class="TopNav">
    <a class="TopNav-title" href="{{ url ('control:cards') }}">kompass</a>

    <div class="TopNav-list">
        <a class="TopNav-a {{ active(request, '^/control/$') }}" href="{{ url ('control:cards') }}">
            Cards
        </a>
        <a class="TopNav-a {{ active(request, '^/control/about/') }} " href="{{ url ('control:about') }}">
            About
        </a>
    </div>

    <a class="TopNav-logout" href="{{ url ('control-logout') }}">
        {% call macros.svgSprite('logout') %}{% endcall %}
    </a>
</nav>
