{
    "globals": {
        "$": false,
        "jQuery": false,
        "_": false,
        "Backbone": false,
        "app": false
    },

    "rules": {
        // best practices
        "semi": ["error", "always"],
        "no-unexpected-multiline": "error",

        // variables
        "one-var": ["error", "never"],
        "vars-on-top": "error",

        // types
        "radix": ["error", "always"],

        // style
        "indent": ["error", 4],
        "no-tabs": "error",
        "no-mixed-spaces-and-tabs": "error",
        "brace-style": ["error", "1tbs", {"allowSingleLine": false}],
        "curly": ["error", "multi-line"],
        "space-before-blocks": "error",
        "keyword-spacing": ["error", { "before": true, "after": true }],
        "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", {"words": true, "nonwords": false}],
        "newline-before-return": "error",
        "newline-per-chained-call": ["error", {"ignoreChainWithDepth": 2}]
    }
}
