@c: .SetOfCards;

@{c} {
    margin-top: 30px;
    padding: 0 5px;

    @media (max-width: 325px) {
        margin-top: 40px;
    }

    &-search {
        width: 300px;
        display: block;
        height: 50px;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        padding: 6px 0 0 20px;
        background-color: rgba(0, 0, 0, .05);
        -webkit-appearance: none;

        @media (max-width: 325px) {
            width: 230px;
        }

        &:focus {
            outline: none;
        }

    }

    ::-webkit-input-placeholder {
        font-family: 'fug', serif;
        color: rgba(30, 30, 30, 0.2);
    }

    input[type="text"] {
        font-family: 'fug', serif;
        font-size: 24px;
    }

    &-searchBox {
        display: flex;
        position: relative;
        justify-content: center;
        margin: 60px auto 50px 30px;
    }

    &-glass {
        position: relative;
        left: -43px;
        top: 12px;
    }

    &-glass svg {
        width: 27px;
        height: 27px;
        fill: #3b3b3b;
    }

    &-cards {

    }

    &-nothingFound {
        display: none;
        margin-top: 20%;
        color: rgba(0, 0, 0, .4);
        font-size: 20px;
    }
}
