{% import 'front/utils/macros.jinja' as macros %}

{% from 'front/components/Card2/Card2.jinja' import Card2 %}

{% macro SetOfCards(data={}, cards={}) %}
    <div class="SetOfCards">
        <div class="SetOfCards-searchBox">
            <input class="SetOfCards-search" type="text" id="search" placeholder="search"/>
            <div class="SetOfCards-glass">
                {% call macros.svgSprite('glass') %}{% endcall %}
            </div>
        </div>

        <div class="SetOfCards-cards">
            {% for card in cards %}
                {% if card.onMain %}
                    {{ Card2(data=card) }}
                {% endif %}
            {% endfor %}
        </div>

        <div class="SetOfCards-nothingFound">
            Мы ничего не нашли. <br>Но вы можете помочь нам собрать карточку по этой теме.
        </div>
    </div>
{% endmacro %}
