{% import 'front/utils/macros.jinja' as macros %}

{% from 'front/components/Card2/Card2.jinja' import Card2 %}

{% macro SetOfCards(data={}, cards={}) %}
    <div class="SetOfCards">
        <input class="SetOfCards-search" type="text" placeholder="search..."/>
        <div class="SetOfCards-cards">
            {% for card in cards %}
                {{ Card2(data=card) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}
