@c: .SetOfCards;

@{c} {
    margin-top: 30px;
    padding: 0 5px;

    @media (max-width: 325px) {
        margin-top: 40px;
    }

    &-search {
        width: 30%;
        display: block;
        max-width: 380px;
        height: 50px;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        padding: 6px 0 0 20px;
        background-color: rgba(0, 0, 0, .05);
        //box-shadow: 1px 1px 4px 1px rgba(140, 140, 140, .5);
        -webkit-appearance: none;

        @media (max-width: 325px) {
            min-width: 260px;
        }

        @media (min-width: 326px) and (max-width: 375px) {
            margin: 40px auto 25px auto;
            width: 280px;
            height: 50px;
            font-size: 20px;
            -webkit-appearance: none;
        }

        @media (min-width: 376px) and (max-width: 768px) {
            margin: 40px auto 30px auto;
            min-width: 300px;
            height: 50px;
            font-size: 22px;
        }

        &:focus {
            outline: none;
        }

        //&:focus @{c}-glass svg {
        //    opacity: 0;
        //}
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-family: 'fug', serif;
        color: rgba(30, 30, 30, 0.2);
    }

    input[type="text"] {
        font-family: 'fug', serif;
        font-size: 24px;
    }

    &-searchBox {
        display: flex;
        position: relative;
        justify-content: center;
        margin: 60px auto 50px auto;

        @media (max-width: 325px) {
            margin: 0 auto 30px auto;
        }

        @media (min-width: 326px) and (max-width: 768px) {
            margin: 0 auto 20px auto;
        }
    }

    &-glass {
        position: relative;
        left: -43px;
        top: 12px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &-glass svg {
        width: 27px;
        height: 27px;
        fill: #3b3b3b;
    }

    &-cards {
        //display: flex;
        //justify-content: center;
        //flex-wrap: wrap;

        @media (max-width: 768px) {
            display: block;
        }
    }

}
