{%- import 'control/utils/macros.jinja' as macros -%}

{% macro BtnRemove() -%}
    <button class="BtnRemove u-Btn u-Remove">
        {% call macros.svgSprite('remove') %}{% endcall %}
    </button>
{%- endmacro %}
