{% import 'control/components/GridItem/GridItem.jinja' as GridItem %}

{% call GridItem.GridItem(model, modifiers=['programSource']) %}
    <a class="Source-anchor">
        <span class="Badge">{{ model.sourceTitle }}</span>
    </a>
{% endcall %}
