{% extends 'control/Base.jinja' %}
{% import 'control/utils/macros.jinja' as macros %}

{% from 'control/components/Button/Button.jinja' import Button %}
{% import 'control/components/Btn/Btn.jinja' as Btn %}
{% from 'control/components/Input/Input.jinja' import Input %}

{% block title %}{{ super() }} Cards{% endblock %}

{% block content %}
    <div class="CardListPage">
        <div class="CardListPage-topBox">
            <h1 class="CardListPage-title">Cards</h1>
            <div class='CardListPage-add'>
                {{ Button(title='Add', tag='a', attrs=['href=' + url('control:card-new')], class='CardListPage-button') }}
                {#            {% call Btn.Btn('Add', tag='a', primary=True, attributes=['href=' + url('control:card-new')]) %}{% endcall %}#}
            </div>
        </div>
        <div class="CardListPage-addNew"></div>
        {#        <div class='CardItemList'></div>#}
        <section class="CardItemList">
            <ul class="CardItemList-list u-List">
            </ul>
        </section>
    </div>
{% endblock %}

{% block data %}
    {{ super() }}
    app.data.cardList = {{ cardList|jsonify|safe }};
{% endblock %}
