@c: .CardListPage;

@{c} {

    margin: 50px 0 0 30%;

    &-topBox {
        display: flex;
    }

    &-title {
        margin-bottom: 30px;
        font-size: 40px;
    }

    &-addNew {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-add {
        padding-top: 11px;
        margin-left: 40px;
    }
}

.Field-form {
    width: 250px;
}

.Button {
    padding: 5px 0 0 27px !important;
}
