@c: .CardResource;

@{c} {
    display: flex;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0 8px 0;
    text-align: left;
    transform: translateX(-10px);
    border-radius: 5px;

    &:hover {
        background-color: #ebebeb;
    }

    @media (max-width: 768px) {
        max-width: 85vw;
    }

    @media (min-width: 768px) and (max-width: 860px) {
        max-width: 95vw;
        padding: 9px 0 9px 0;
    }

    &-link {
        text-decoration: none;
        color: #191919;
    }

    &-num {
        padding-left: 15px;
        width: 5.5%;
        color: #acacac;
        font-size: 13px;
        font-weight: bold;

        @media (max-width: 768px) {
            padding: 2px 0 0 0;
            position: relative;
            left: -11px;
            width: auto;
            top: -2px;
            font-size: 15px;
        }
    }

    &-resources {
        display: flex;
        width: 90%;

        @media (max-width: 768px) {
            display: block;
        }

        @media (min-width: 768px) and (max-width: 860px) {
            display: flex;
            font-size: 15px;
        }
    }

    &-mobile--extraInfoBox {
        display: none;

        @media (max-width: 768px) {
            display: flex;
        }

        @media (min-width: 768px) and (max-width: 860px) {
            min-width: 25%;
        }

        &---typeOfResource {
            padding: 0 10px 0 10px;
            font-size: 13px;
            padding-left: 0px;
            color: #acacac;
        }

        &---resourceLength {
            padding: 0 10px 0 10px;
            font-size: 13px;
            padding-left: 0;
            color: #acacac;
        }
    }

    &-typeOfResource {
        padding-left: 10px;
        width: 10%;
        font-size: 13px;
        color: #acacac;

        @media (max-width: 768px) {
            display: none;
            padding-left: 0px;
            width: 100%;
        }
    }

    &-resourceName,
    &-resourceAuthor,
    &-resourceLength,
    &-isFree {
        padding: 0 10px 0 10px;

        @media (max-width: 768px) {
            width: 100%;
            padding: 0 10px 0 0px;
        }
    }

    &-resourceName {
        width: 50%;
        min-width: 50%;

        @media (max-width: 768px) {
            width: 100%;
            padding: 0 10px 0 0px;
            font-size: 17px;
        }

        @media (min-width: 768px) and (max-width: 860px) {
            width: 60%;
            min-width: 60%;
            padding: 0 10px 0 10px;
        }
    }

    &-resourceAuthor {
        width: 30%;

        @media (max-width: 768px) {
            padding: 10px 0 5px 0;
            width: 100%;
        }

        @media (min-width: 768px) and (max-width: 860px) {
            min-width: 20%;
            padding: 0 0 0 10px;
        }
    }

    &-resourceFormat {
        padding-left: 20px;
        width: 15%;
        min-width: 15%;
        font-size: 12px;
        color: #acacac;
    }

    &-resourceLength {
        padding-left: 10px;
        color: #acacac;
        width: 12%;
        font-size: 13px;

        @media (max-width: 768px) {
            display: none;
            width: 100%;
            padding-left: 0;
        }
    }

    &-isFree {
        width: 10%;
    }
}
