{% import 'front/utils/macros.jinja' as macros %}

{% macro Nav(mods='') %}
    <header class="Nav">
        <div class="Nav-titleBox">
            <a href="/" class="Nav-titleLink">
                <div class='Nav-title'>kompass</div>
                <div class='Nav-subtitle'>собираем проверенные<br> учебные материалы</div>
            </a>
        </div>
        <div class="Nav-aboutBox">
            <a class='Nav-about Nav-{{ mods }}' href="/about/"></a>
            <a class='Nav-about Nav-{{ mods }}' href="/about/">Как это работает?</a>
        </div>
{#        <a class="Nav-button">#}
            <a href="/about/" class="Nav-info Nav-{{ mods }}">
                {% call macros.svgSprite('info') %}{% endcall %}
            </a>
{#        </a>#}
    </header>
{% endmacro %}
