{% import 'front/utils/macros.jinja' as macros %}

{% macro Nav() %}
    <nav class="Nav">
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
{% endmacro %}
