@c: .Nav;

//@{c} {
//    /*FOOTER*/
//    /*MENU*/
nav {
    position: absolute;
    display: flex;
    right: 60px;
    color: white;
}

nav ul {
    color: black;
    text-align: right;
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 20px;
}

nav ul a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

nav ul a:hover {
    border-bottom: solid 2px white;
}

//}
