@c: .Nav;

@{c} {
    padding-left: 30px;
    height: 65px;
    //background-color: #303030;
    //background-image: url(/static/img/head_1.png);
    background-size: cover;

    @media (max-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
    }

    &-title {
        position: relative;
        padding-top: 14px;
        padding-bottom: 5px;
        width: 130px;
        left: 10px;
        font-size: 35px;
        color: white;

        @media (max-width: 768px) {
            padding: 0;
            width: auto;
            left: 0;
        }
    }

    &-titleLink {
        text-decoration: none;

        @media (max-width: 768px) {
            margin-right: 6%;
        }
    }

    &-subtitle {
        position: absolute;
        width: 210px;
        color: white;
        text-align: left;
        font-size: 14px;
        left: 195px;
        top: 16px;

        @media (max-width: 768px) {
            display: none;
            position: relative;
            left: 0;
            top: 18px;
            width: 150px;
            text-align: center;
            font-size: 13px;
        }
    }

    &-logoBox {
        width: 200px;
        height: 50px;

        @media (max-width: 375px) {
            position: relative;
            width: 140px;
        }
    }

    &-logoBox svg {
        width: 60%;
        position: relative;
        top: -40px;
        left: -38px;

        @media (max-width: 375px) {
            position: absolute;
            left: 20px;
            top: 7px;
            height: 40px;
        }

        @media (max-width: 768px) {
            position: absolute;
            left: 0;
            top: 7px;
            height: 40px;
        }
    }

    &-about {
        position: relative;
        color: white;
        top: -40px;
        right: 40px;
        float: right;
        text-decoration: none;
        font-size: 20px;

        &:hover {
            border-bottom: solid 2px #fff;
        }

        @media (max-width: 650px) {
            display: flex;
            align-items: center;
            top: 0;
            right: 0;
            float: none;
        }
    }

    &-onAboutPage {
        display: none;

        @media (max-width: 768px) {
            display: block;
            opacity: 0;
        }
    }
}

nav {
    position: absolute;
    display: flex;
    top: 0;
    padding-top: 22px;
    right: 70px;
    color: white;

    @media (max-width: 650px) {
        position: relative;
        color: black;
        top: 50px;
        right: 10px;
    }
}

nav ul {
    color: black;
    text-align: right;
    list-style-type: none;
    display: flex;
}

nav ul li {
    //margin: 22px 0px 22px 0;
}

nav ul a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

nav ul a:hover {
    border-bottom: solid 2px white;
}
