<!doctype html>

{#{% import 'control/openrussia/components/TopNav/TopNav.jinja' as TopNav %}#}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta content="width=device-width, user-scalable=1" name="viewport"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{{ static('favicon/apple-touch-icon-152x152.png') }}"/>
    <link rel="icon" type="image/png" href="{{ static('favicon/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ static('favicon/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="shortcut icon" href="{{ static('favicon/favicon.ico') }}" type="image/x-icon"/>
    <meta name="application-name" content="Starter"/>
    <meta name="msapplication-TileColor" content="#000000"/>
    <meta name="msapplication-TileImage" content="{{ static('favicon/mstile-144x144.png') }}"/>

    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>kompass — admin</title>

    <link rel="icon" type="image/png" href="{{ static('img/fav/favicon-196x196.png') }}" sizes="196x196"/>
    <link rel="icon" type="image/png" href="{{ static('img/fav/favicon-96x96.png') }}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{{ static('img/fav/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ static('img/fav/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{{ static('img/fav/favicon-128.png') }}" sizes="128x128"/>

    {% block static %}
        <link type="text/css" href="{{ static(bundle('control','main.css')) }}" rel="stylesheet">
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
<img style="display:none" alt="" src="/static/svg/control/symbol/svg/sprite.symbol.svg">

{% block before_content %}{% endblock %}

{% block topNav %}
    {% include 'control/components/TopNav/TopNav.jinja' %}
{% endblock %}

{% block content %}{% endblock %}

{#{% include 'control/common/components/Spinner/Spinner.jinja' %}#}

{% block after_content %}{% endblock %}

<script>
    {% block data %}
        window.app = {
            data: {},
            settings: {
                staticUrl: '{{ STATIC_URL }}',
                urls: {}
            }
        };
    {% endblock %}
</script>

{% block libs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ static('js/libs/jquery.min.js') }}"><\/script>')</script>
{% endblock %}

<script src="{{ static(bundle('control','main.js')) }}" async></script>

{% block libs_after_app %}
{% endblock %}

</body>
</html>
