<!doctype html>

{#{% import 'control/openrussia/components/TopNav/TopNav.jinja' as TopNav %}#}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta content="width=device-width, user-scalable=1" name="viewport"/>

    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{{ static('favicon/apple-touch-icon-152x152.png') }}"/>
    <link rel="icon" type="image/png" href="{{ static('favicon/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ static('favicon/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="shortcut icon" href="{{ static('favicon/favicon.ico') }}" type="image/x-icon"/>
    <meta name="application-name" content="Starter"/>
    <meta name="msapplication-TileColor" content="#000000"/>
    <meta name="msapplication-TileImage" content="{{ static('favicon/mstile-144x144.png') }}"/>

    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>Starter{% block title %} — {% endblock %}</title>

    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon"/>

    {% block static %}
        <link type="text/css" href="{{ static(bundle('control','main.css')) }}" rel="stylesheet">
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
<img style="display:none" alt="" src="/static/svg/control/symbol/svg/sprite.symbol.svg">

{% block before_content %}{% endblock %}

<div class="Content">
    {% block topNav %}
        <!-- <div class="Content-topNav">
            {% include 'control/components/TopNav/TopNav.jinja' %}
        </div> -->
    {% endblock %}

    <div class="Content-body">
        {% block content %}{% endblock %}
    </div>
</div>

{#{% include 'control/common/components/Spinner/Spinner.jinja' %}#}

{% block after_content %}{% endblock %}

<script>
	{% block data %}
		window.app = {
			data: {},
			settings: {
				staticUrl: '{{ STATIC_URL }}',
				urls: {}
			}
		};
	{% endblock %}
</script>

{% block libs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ static('js/libs/jquery.min.js') }}"><\/script>')</script>
{% endblock %}

<script src="{{ static(bundle('control','main.js')) }}" async></script>

{% block libs_after_app %}
{% endblock %}

</body>
</html>
