{% import 'control/utils/macros.jinja' as macros %}
{% import 'control/components/BtnRemove/BtnRemove.jinja' as BtnRemove %}

<div class="CardItem">
    <a class="CardItem-link" href="/control/cards/{{ model.id }}">
{#      <div class="ProjectItem-img" style="background-image: url({{ model.outer.url|safe }});"></div>#}
        <div class="CardItem-title">{{ model.title|safe }}</div>
    </a>
    <div class="CardItem-remove">
        {% call BtnRemove.BtnRemove() %}{% endcall %}
    </div>
</div>
