{% extends 'control/Base.jinja' %}
{% import 'control/utils/macros.jinja' as macros %}

{% block content %}
    <div class="Index">
        <h1 class="Index-header">Starter control</h1>
    </div>
{% endblock %}
