{% extends 'control/Base.jinja' %}
{% import 'control/utils/macros.jinja' as macros %}

{% block title %}{{ super() }} Index{% endblock %}

{% block content %}
    <div class="Index">
        <div class="Index-header">
            <h1 class="Header">Index</h1>
        </div>

        <div class="Index-description">
            <h2 class="Header--secondary">Description</h2>
            {#            {% call Textarea.Textarea(label='Philosophy', name='text', value=model.text, classes=['isLarge']) %}{% endcall %}#}
        </div>
    </div>
{% endblock %}
