{% extends 'control/Base.jinja' %}
{% import 'control/utils/macros.jinja' as macros %}

{% from 'control/components/Input/Input.jinja' import Input %}

{% block title %}{{ super() }} Post{% endblock %}

{% block content %}
    <div class="Post">
        <div class="Post-title">
            {{ Input() }}
        </div>
    </div>
{% endblock %}

{% block data %}
    {{ super() }}

    app.data.post = {{ post|jsonify|safe }}
{% endblock %}
