@c: .Index;

@{c} {
    &-SvgSymbol svg {
        width: 100px;
        height: 100px;
        fill: blue;
    }
    &-SvgRaw svg{
        width: 100px;
        height: 100px;
        fill: blue;
    }
}
