{% extends 'front/Base.jinja' %}
{% import 'front/utils/macros.jinja' as macros %}

{% from 'front/components/SetOfCards/SetOfCards.jinja' import SetOfCards %}
{% from 'front/components/Header/Header.jinja' import Header %}
{% from 'front/components/Footer/Footer.jinja' import Footer %}
{% from 'front/components/Nav/Nav.jinja' import Nav %}

{% block body_class %}{% endblock %}

{% block before_content %}
    {{ Nav() }}
{% endblock %}

{% block content %}
    <div class="Index">
        {{ Header() }}
        {{ SetOfCards(data) }}
    </div>
{% endblock %}

{% block after_content %}
    {{ Footer() }}
{% endblock %}
