@c: .Index;

@{c} {
    width: 1000px;
    margin: 0 auto;

    &-SvgSymbol svg {
        width: 100px;
        height: 100px;
        fill: blue;
    }

    &-SvgRaw svg{
        width: 100px;
        height: 100px;
        fill: blue;
    }
}
