{% extends 'front/Base.jinja' %}
{% import 'front/utils/macros.jinja' as macros %}

{% from 'front/components/Nav/Nav.jinja' import Nav %}
{% from 'front/components/SetOfCards/SetOfCards.jinja' import SetOfCards %}
{% from 'front/components/Footer/Footer.jinja' import Footer %}

{% block body_class %}{% endblock %}

{% block before_content %}
    {{ Nav() }}
{% endblock %}

{% block content %}
    <div class="Index">
        {{ SetOfCards(data, cards) }}

        <div class="Index-layer"></div>
        <div class="Index-popup">
            <div class="Index-popupBox">
                <div class="Index-title">{{ about.title }}</div>
                <div class="Index-text">{{ about.text|safe }}</div>
            </div>
            <span class="Index-cross">
                {% call macros.svgSprite('cross') %}{% endcall %}
            </span>
        </div>
    </div>
{% endblock %}

{% block after_content %}
    {{ Footer() }}
{% endblock %}
