{% extends 'control/Base.jinja' %}
{% import 'control/utils/macros.jinja' as macros %}

{% from 'control/components/Button/Button.jinja' import Button %}
{% import 'control/components/Btn/Btn.jinja' as Btn %}
{% from 'control/components/Input/Input.jinja' import Input %}

{% block title %}{{ super() }} Fields{% endblock %}

{% block content %}
    <div class="FieldListPage">
        <h1 class="FieldListPage-title">Fields</h1>
        <div class="FieldListPage-addNew">
            <div class='Field-form'>
                {#            {{ Input(label='New Field', name='newfield', value=model.title) }}#}
            </div>
            <div class='FieldListPage-save'>
                {{ Button(title='Add', tag='button', classes=['u-Save'], attrs=[]) }}
            </div>
        </div>
    </div>

    <section class="FieldItemList">
        <ul class="FieldItemList-list u-List">
        </ul>
    </section>
{% endblock %}

{% block data %}
    {{ super() }}
    app.data.fieldList = {{ fieldList|jsonify|safe }};
    app.data.field = {{ field|jsonify|safe }};
{% endblock %}
