{% import 'control/utils/macros.jinja' as macros %}

{% from 'control/components/Input/Input.jinja' import Input %}
{% from 'control/components/Textarea/Textarea.jinja' import Textarea %}
{% import 'control/components/GridAdd/GridAdd.jinja' as GridAdd %}

<div class="Card">
    <form class='Form'>
        <div class='Form-row'>
            {{ Input(label='Field name', name='field', value=model.field) }}
        </div>
        <div class='Form-row'>
            {{ Textarea(label='Definition of the field', name='definition', value=model.definition, id='definition', modifiers=['noToolbar']) }}
        </div>
        <div class='Form-row Card-expertBlock'>
            {{ Input(label='Expert name', name='expert', value=model.expert) }}
        </div>
        <div class='Form-row'>
            {{ Input(label='Expert position', name='position', value=model.position) }}
        </div>
        <div class="Form-row">
            {{ Textarea(label='Background', name='background', id='background', value=model.background, modifiers=['noToolbar']) }}
        </div>
        <div class="Form-row Card-program">
            <div class="Card-line"></div>
            <label class="Card-label">Sources</label>

            <div class="Card-sources">
                <ul class="Card-sourcesList u-List">
                    {% call GridAdd.GridAdd(listAdd=false, modifiers=['programSource']) %}
                        <button class="GridAdd-button GridAdd-button--fullSize">
                            <span class="GridAdd-buttonText">
                                <span class="GridAdd-underline">Add source</span>
                            </span>
                        </button>
                    {% endcall %}
                </ul>
            </div>
        </div>
    </form>

</div>
