{% import 'control/utils/macros.jinja' as macros %}

{% from 'control/components/Input/Input.jinja' import Input %}
{% from 'control/components/Textarea/Textarea.jinja' import Textarea %}
{#{% from 'control/components/ImgUpload/ImgUpload.jinja' import ImgUpload %}#}

<div class="Card">
    <div class='Form'>
        <div class='Form-row'>
            {{ Input(label='Card title', name='title', value=model.title) }}
        </div>
    </div>
</div>
