{% import 'control/utils/macros.jinja' as macros %}

{% from 'control/components/Input/Input.jinja' import Input %}
{% from 'control/components/Textarea/Textarea.jinja' import Textarea %}
{% import 'control/components/GridAdd/GridAdd.jinja' as GridAdd %}

<div class="Card">
    <form class='Form'>
        <div class='Form-row'>
            {{ Input(label='Название области', name='field', value=model.field) }}
        </div>
        <div class='Form-row'>
            {{ Textarea(label='Определение области', name='definition', value=model.definition, id='definition', modifiers=['noToolbar']) }}
        </div>
        <div class='Form-row Card-expertBlock'>
            {{ Input(label='Обращение', name='expert', value=model.expert) }}
        </div>
        <div class='Form-row'>
            {{ Input(label='Эксперт и позиция', name='position', value=model.position) }}
        </div>
        <div class='Form-row'>
            {{ Input(label='Ссылка на контрибьютора', name='expert_link', value=model.expert_link) }}
        </div>
        <div class="Form-row">
            {{ Textarea(label='Рекомендуемый бэкграунд', name='background', id='background', value=model.background, modifiers=['noToolbar']) }}
        </div>
{#        <div class="Form-row Service-onMain">#}
{#            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="on-main">#}
{#                <input type="checkbox" id="on-main" class="mdl-checkbox__input" name="onMain"#}
{#                       {% if model.onMain %}checked{% endif %}/>#}
{#                <span class="mdl-checkbox__label">Publish on main page</span>#}
{#            </label>#}
{#        </div>#}
        <div class="Form-row Card-program">
            <div class="Card-line"></div>
            <label class="Card-label">Sources</label>

            <div class="Card-sources">
                <ul class="Card-sourcesList u-List">
                    {% call GridAdd.GridAdd(listAdd=false, modifiers=['programSource']) %}
                        <button class="GridAdd-button GridAdd-button--fullSize">
                            <span class="GridAdd-buttonText">
                                <span class="GridAdd-underline">Add source</span>
                            </span>
                        </button>
                    {% endcall %}
                </ul>
            </div>
        </div>
    </form>

</div>
