{% extends 'front/Base.jinja' %}

{# По этому классу будем идентифицировать на фронте, что пришла именно 404 #}
{% block body_class %} Page404 {% endblock %}

{% block content %}
    404
{% endblock %}
