@c: .Header;

@{c} {
    height: 60px;
    background-color: #303030;

    &-title {
        position: relative;
        padding-top: 3px;
        padding-bottom: 5px;
        width: 200px;
        left: 20px;
        font-size: 35px;
        color: white;
    }

    &-subtitle {
        position: absolute;
        width: 190px;
        font-size: 14px;
        left: 220px;
        top: 10px;
        color: white;
    }
}
