{% import 'front/utils/macros.jinja' as macros %}

{% macro Header() %}
    <header class="Header">
        <div class="Header-title">kartoteka</div>
        <div class="Header-subtitle">a multidisciplinary tool to search for study materials</div>
    </header>
{% endmacro %}
