{% import 'front/utils/macros.jinja' as macros %}

{% from 'front/components/CardResource/CardResource.jinja' import CardResource %}

{% macro Card2(data={}) %}
    <div class="Card2">
        <div class="Card2-title">

            {# левая колонка карточки #}
            <div class="Card2-field">
                <div class="Card2-fieldName">{{ data.field }}</div>
                <div class="Card2-fieldDescription">{{ data.definition|safe }}</div>

                {% if data.background %}
                    <div class="Card2-backgroundBox">
                        <div class="Card2-backgroundTitle">Рекомендуемый бэкграунд</div>
                        <div class="Card2-backgroundBody">
                            <div class="Card2-backgroundUnit">
                                {{ data.background|safe }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            {# правая колонка карточки #}
            <div class="Card2-expert">
                {# все ресурсы #}
                <div class="Card2-resourcesContainer">
                    {# тип ресурсов #}
                    {% for source in data.program %}
                        {{ CardResource(data=source) }}
                    {% endfor %}
                </div>

                {% if data.expert_link %}
                    <a href="{{ data.expert_link }}" class="Card2-expertLink" target="_blank">
                {% endif %}
                <div class="Card2-expertTitle">
                    {% if data.expert %}
                        <div class="Card2-expertName">{{ data.expert }}</div>
                    {% endif %}
                    {% if data.position %}
                        <div class="Card2-expertPosition"> &nbsp;{{ data.position|safe }}</div>
                    {% endif %}
                </div>
                {% if data.expert_link %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
