@c: .Card2;

@{c} {
    font-family: 'fug';
    margin: 10px auto 0 auto;
    max-width: 1100px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    @media (max-width: 375px) {
        max-width: 365px;
        margin: 0 5px 5px 5px;
    }

    @media (max-width: 1024px) {
        margin: 0 5px 7px 5px;
    }

    &-title {
        display: flex;
        padding: 0 20px 0 20px;
        min-width: 1100px;
        font-size: 25px;
        line-height: 45px;

        @media (max-width: 375px) {
            display: block;
            min-width: auto;
        }

        @media (max-width: 768px) {
            display: block;
        }

        @media (min-width: 768px) and (max-width: 860px) {
            padding-left: 30px;
            display: block;
        }

        @media (max-width: 1024px) {
            min-width: 98vw;
            max-width: 98vw;
        }
    }

    &-field {
        flex: 1;
        padding: 20px 0px 20px 20px;

        @media (max-width: 768px) {
            padding: 20px 0 10px 0;
        }

        @media (min-width: 768px) and (max-width: 860px) {
            display: flex;
            padding-bottom: 0;
        }
    }

    &-fieldName {
        flex-grow: 1;
        text-align: left;
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 25px;
        }

        @media (min-width: 768px) and (max-width: 860px) {
            width: 30%;
        }
    }

    &-fieldDescription {
        text-align: left;
        padding: 10px 0 10px 0;
        width: 310px;
        font-size: 14px;
        line-height: 18px;

        @media (max-width: 768px) {
            width: auto;
        }

        @media (min-width: 768px) and (max-width: 860px) {
            width: 70%;
            padding-right: 20%;
        }
    }

    &-expert {
        flex-grow: 5;
        padding: 20px 0 20px 20px;
        font-size: 20px;

        @media (max-width: 768px) {
            padding-top: 0;
        }
    }

    &-expertPosition {
        color: #acacac;
    }

    &-expertTitle {
        padding-left: 5px;
        display: flex;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &-resourcesContainer {
        padding: 10px 0 15px 0;
    }

    &-backgroundBox {

    }

    &-backgroundTitle {
        text-align: left;
        font-size: 20px;
        //font-weight: bold;
    }

    &-backgroundBody {
        display: flex;
        text-align: left;
        line-height: 20px;
        font-size: 15px;
        color: #505050;
    }
}
